<div class="container">
  <div class="row">
    <nav style="height: 100px;">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center"
          ><span style="font-size: 2em;">Pokemon App</span></a
        >
      </div>
    </nav>
  </div>
  <!--
      <p [style.color]="isSpecial ? 'red' : 'white'">
        La liaison sur une propriété de la classe
      </p>

    <input type="text" [(ngModel)]="pok" />
    <p style="color: white;">Hello {{ pok }}</p>
  -->
  <router-outlet></router-outlet>
</div>
